<% provide(:title, "Guide") %>
<!DOCTYPE html>
<h1>How to use Skiltr</h1>
<ol>
  <li>Add a <%= link_to "source", sources_new_path %> (book, article, blog post, etc.).</li>
  <li>Add one or more <%= link_to "excerpts", excerpts_new_path %> (extracted from a source book, article, blog post, etc.).</li>
  <li>Add a <%= link_to "project", projects_new_path %> that you might be working on.</li>
  <li>Add a <%= link_to "sign", signs_new_path %>, your personal comment which you extract from a series of excerpts (belonging to one or multiple sources).</li>
</ol>
