<% provide(:title, "Guide") %>
<!DOCTYPE html>
<h1>How to use Skiltr</h1>
<ol>
  <li>Add <%= link_to "excerpts", excerpts_new_path %> (each of them extracted from a source: book, article, blog post, etc.).</li>
  <li>Add <%= link_to "signs", signs_new_path %>, each of them comprised of a personal comment which you craft from a series of excerpts. Every sign is attached to a project (a book, a blog post, a dissertation, a screenplay, whatever). Hence, a project is comprised of multiple signs.</li>
  <li>Search through your <%= link_to "signs", signs_path %> and use them to compose ideas for your project.</li>
</ol>
