<% provide(:title, "Guide") %>
<!DOCTYPE html>
<h1>How to use Skiltr</h1>
<ol>
  <li>Add <%= link_to "excerpts", excerpts_new_path %> (each of them extracted from a source: book, article, blog post, etc.).</li>
  <li>Search through your <%= link_to "excerpts", excerpts_path %> and select one or more that you wish to extract a sign from.</li>
  <li>Add a sign comprised of that/those excerpts. Each sign is made of a personal comment which you craft from a series of excerpts. Every sign is attached to a project (more generally a written piece: book, blog post, dissertation, screenplay, whatever). Hence, a project is comprised of multiple signs.</li>
  <li>Search through your <%= link_to "signs", signs_path %> and use them to compose ideas for your project.</li>
</ol>
