 <li class="d-flex justify-content-between align-items-center">
  <div>
    <h4><%= link_to source.title + " by " + source.author, source_path(source.id), title: "View source's signs" %></h4>
    <%= link_to "External link reference", source.url, :target => "_blank" %>
  </div>
  <div>
    <%= link_to "edit", edit_source_path(source.id) %> -
    <%= link_to "delete", source, method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
</li>