<% provide(:title, 'Excerpts from this source') %>
<h1>Excerpts from: <%= @source.title %></h1>

<%= will_paginate @sourceExcerpts %>
<ul class="items">
  <%= render @sourceExcerpts %>
</ul>
<%= will_paginate @sourceExcerpts %>