<h1>Skiltr</h1>

<p>Hi <%= @user.name %>,</p>

<p>
  Welcome to Skiltr, the note taking app for content creators. Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>