 <li class="d-flex justify-content-between align-items-center">
  <div>
    <h4><%= link_to project.title, project_path(project.id), title: "View project's signs" %></h4>
    <span><%= project.description%></span>
  </div>
  <div>
    <%= link_to "edit", edit_project_path(project.id) %> -
    <%= link_to "delete", project, method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
</li>