<% provide(:title, 'All projects') %>
<h1>All projects</h1>

<%= will_paginate %>
<%= link_to "Create", projects_new_path , class: "btn btn-primary pull-right"%>
<ul class="items">
  <%= render @projects %>
</ul>
<%= will_paginate %>