<% provide(:title, 'Signs for this project') %>
<h1>Signs from: <%= @project.title %></h1>

<%= will_paginate @projectSigns %>
<ul class="items">
  <%= render @projectSigns %>
</ul>
<%= will_paginate @projectSigns %>