 <li class="d-flex justify-content-between align-items-center">
  <div>
    <h4><%= link_to tag.title, tag_path(tag.id), title: "View tag's signs" %></h4>
    <span><%= tag.description%></span>
  </div>
  <div>
    <%= link_to "edit", edit_tag_path(tag.id) %> -
    <%= link_to "delete", tag, method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
</li>