<% provide(:title, 'All tags') %>
<h1>All tags</h1>

<%= will_paginate %>
<%= link_to "Create", tags_new_path , class: "btn btn-primary pull-right"%>
<ul class="items">
  <%= render @tags %>
</ul>
<%= will_paginate %>