<% provide(:title, 'Excerpt with this tag') %>
<h1>Excerpts tagged with #<%= @tag.title %></h1>

<%= will_paginate @excerptsWithTag %>
<ul class="items">
  <%= render @excerptsWithTag %>
</ul>
<%= will_paginate @excerptsWithTag %>