<footer class="footer">
  <small>
    Skiltr
    by <a href="https://www.linkedin.com/in/nicolasgkruk/">Nicolás Kruk</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>